@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');
::before::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

body{
    background-color: #ffdd99;
}

a{
    background-color: #4da6ff;
    width: 50px;
    border-radius: 20%;
    border: solid 5px;
    position: static;
}

.head{
    display: grid;
    grid-template-columns: 1fr 1 fr;
    grid-template-rows: 100px 150px;
}

.head h1{
    font-family: 'Acme', sans-serif;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;   
}

.head p{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.head img{
    grid-column: 2;
    grid-row: 1/3;
    border: black solid;
    border-radius: 10%;
}

.menu{
    margin: 2em;
    padding: 1em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid;
    background-color:	#4dffa6;
}

.cap{
    display: flex;
    justify-content: center;
}

.journal{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

div{
    display: flex;
    justify-content: center;
}

.off{
    display: none;
}

article p{
    margin-left: 10px;
    margin-right: 10px;
}
article img{
    border: solid 5px black;
    border-radius: 10%;
    box-shadow: #3333ff 5px 5px;
}

article h2{
    font-family: 'Righteous', cursive;
}

